<!DOCTYPE html>
html(lang="en")
head
	
	link(rel="stylesheet", href="home.css")
	meta(charset="UTF-8")
	title Ciudad
body
	.Container
		.Moon
		.Floor
			ul
				li.Tree
				li.Tree
				li.Tree
				li.Tree
				li.Tree
				li.Tree
				li.Tree
			.Lines
			.Lines.one
			.Lines.two
			.Lines.three
		.Build
			ul
				li
				li
				li
				li
				li
				li
				li
				li